summary.commons {
  background-color: #387C2B;
  color: white;
}
summary.lords {
  background-color: #A00C30;
  color: white;
}

details {
  margin: 1em;
}

details > summary {
  box-shadow: 0 5px 5px var(--boxshadow-colour);
  padding: 1em;
  transition: box-shadow 0.25s;
}

details > section {
  margin: 0;
  box-shadow: 0 5px 5px var(--boxshadow-colour);
}