:root {
    --main-background: #373151;
    --grey: #625A75;
    --light: #EEE;
    --text: #373151;
    --boxshadow-colour: #0008;
    --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, 'Liberation Sans', Arimo, Arial, sans-serif;
    --system: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, 'Liberation Sans', Arimo, Arial, sans-serif;
    --serif: 'EB Garamond', Garamond, 'Cormorant Garamond', 'Liberation Serif', Tinos, serif;
    --monospace: 'Fira Code', 'Ubuntu Mono', 'Liberation Mono', Cousine, Menlo, Consolas, monospace;
}

/*

URLs for using the serif and monospace font stacks:

<link href="/fonts/eb_garamond.css" rel="stylesheet">
<link href="/fonts/fira.css" rel="stylesheet">

*/

main {
    margin: auto;
    padding: 2ch;
    font-size: 14pt;
    max-width: 70ch;
}

body {
    background-color: var(--main-background);
    color: var(--light);
    font-family: var(--sans-serif);
    line-height: 1.45;
}

img {
    margin: auto;
    display: block;
    padding: 1ch 0;
}

p, li {
  text-align: justify;
  hyphens: auto;
}

section {
    box-shadow: 0 5px 5px var(--boxshadow-colour);
    padding: 1em;
    margin: 1em;
    transition: box-shadow 0.25s;
}

section:hover {
    box-shadow: 0 10px 10px #0008;
}

section:not(.dark) {
    background-color: var(--light);
    color: var(--text);
}

section.schedule h2 {
  font-variant: small-caps;
  text-align: center;
}

.fn {
  position: relative;
  vertical-align: baseline;
 }

.fn-note {
  color: var(--grey);
  text-decoration: underline;
  cursor: pointer;
}

.fn-box {
  font-size: 11pt;
  position: absolute;
  left: 25px;
  bottom: 5px;
  border: 1px solid var(--text);
  padding: 5px;
  background-color: var(--light);
  z-index: 9999;
  width: 20ch;
}



h1 {
    text-align: center;
}
.grey,
a,
blockquote {
    color: var(--grey);
}

.dark .grey,
.dark a,
a .dark,
#linkout {
    color: var(--light);
}

#linkout {
    color: var(--light);
    text-align: center;
}

#royal-seal {
    width: 33%;
}

.party-icon {
    display: inline-block;
    width: 1em;
    padding: 0;
    transform: translate(0, 0.25em);
}

th {
    text-align: left;
    vertical-align: top;
}

td,
th {
    padding: 0.25em;
}

img.hero {
    padding: 0;
    width: calc(100% - 2em);
    height: auto;
    box-shadow: 0 5px 5px var(--boxshadow-colour);
    transition: box-shadow 0.25s;
}
img.hero:hover {
    box-shadow: 0 10px 10px var(--boxshadow-colour);
}

.centre {
    margin: auto;
    display: block;
    text-align: center;
}

.monospace,
code,
pre {
    font: Liberation Mono, monospace;
}

pre {
    box-shadow: 0 5px 5px var(--boxshadow-colour);
    padding: 1em;
    margin: 1em;
    font-size: 0.8em;
    white-space: pre-wrap
}

.serif {
    font: Liberation Serif, serif;
}

.smallcaps {
    font-variant: small-caps;
}

.all-smallcaps, .all-sc {
    font-variant: all-small-caps;
}

blockquote {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-style: italic;
    color: var(--grey);
}

q {
    font-style: italic;
    color: var(--grey);
}

li {
    margin: 0.1em;
}

ins {
  text-decoration: none;
  font-weight: bold;
}

.grey {
    color: var(--grey);
}

.commons {
    color: #387C2B; 
}

.lords {
    color: #A00C30;
}
    
    .normal {
      font-weight: normal;
    }