html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  width: 100%;
  font-family: sans-serif;
  background-color: #f6f6f6;
  overflow-y: scroll;
}

main {
  font-size: 0.875em;

  /*margin-top: -1px;*/
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 2em;
  margin-top: 5.3em;
  margin-left: 11em;
  background-color: white;
  border-right-width: 0;
  border: 1px solid #a7d7f9;
  overflow:auto;
  clear:both; 
}

h1, h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  border-bottom: 1px solid #a2a9b1;
}

.infobox img {
  margin-left: auto;
  margin-right: auto;
}

.infobox-header {
  background: lavender;
  line-height: normal;
  padding: 0.2em 0.2em;
}

.infobox {
  text-align: center;
  border: 1px solid #a2a9b1;
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
}

img {
  width: 220px;
}

nav {
  padding-top: 3em;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
  display: block;
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
}

nav ul {
  line-height: 1.5em;
  font-size: 0.75em;
  margin-left: 0;
  padding: 0.25em 2em;
  text-align: left;
}


.logo {
  width: 100px;
  border-radius: 25%;
}

header {
  background-image: linear-gradient(white, #f6f6f6);
  position: absolute;
  top: 0;
  padding-right: 0;
  right: 0;
  width: 100%;
  height: 4em;
}

form {
  position: absolute;
  bottom: 0em;
  right: 0.5em;
}

input {
  height: 2.2em;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 5px 2.2em 5px 0.4em;
  -webkit-appearance: none;
}

input[type="submit"] {
  background: no-repeat center / 1.23076923em url(https://en.wikipedia.org/w/skins/Vector/resources/common/images/search.svg?bbf78);
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  min-width: 28px;
  width: 2.2em;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0.8125em;
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
}

.all-smallcaps, .all-sc {
  font-variant: all-small-caps;
}

table.infobox > caption {
  font-size: 125%;
  font-weight: bold;
}

.flag {
  height: 27px;
  width: auto;
}

table hr {
  height: 1px;
  background-color: #a2a9b1;
  border: 0;
  margin: 0.2em 0;
}

img.leader {
  height: 160px;
  max-width: 121px;
  width: auto;
  object-fit: cover;
}

nav > a, header h1 a {
  border-width: 0;
  text-decoration: none;
  color: black;
}

header h1 {
  display: none;
}

@media (max-width:550px) {

  header h1 {
    margin: 0;
    padding: 0.4em;
    padding-bottom: 0.2em;
    border-width: 0;
    display: block;
  }

  header {
    position: relative;
    display: block;
    text-align: center;
    height: auto;
  }

  form {
    position: relative;
    margin-left: auto;
    margin-left: right;
    display: block;
    width: 95%;
  }
  input[type="search"] {
    width: 100%;
  }

  main {
    width:fit-content;
    margin: 1em 0em 0em 0em;
  }

  main h1 {
    text-align: center;
  }

  nav {
    display: none;
    margin: none;
  }

  nav img {
    display: none;
  }

  .infobox {
    position: relative;
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }


}